Package: com.128keaton.scnotifications
Name: SCNotifications
Depends: mobilesubstrate
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: Keaton Burleson
Author: Keaton Burleson
Section: Tweaks
Version: 0.0.1-8+debug
Installed-Size: 88
